[package]
name = "Starter Module"
description = "NWN:EE Aurora starter project"
version = "0.1.0"

  [package.sources]
  include = "src/**/*.{nss,json,2da}"
  include = "src/tlk/*.json"

  [package.rules]
  "*" = "src"

# Module target — builds the .mod file for in-game testing
[target]
name = "module"
file = "build/dist/starter_module.mod"
modName = "Starter Module"
modMinGameVersion = "89.8193.37"
useModuleFolder = true

  [target.sources]
  include = "src/module/**"
  include = "src/areas/**"
  include = "src/scripts/**"
  include = "src/blueprints/**"
  include = "src/dialogs/**"

# Art hak — custom models, textures, 2DAs, placeables
[target]
name = "art"
group = "haks"
file = "build/dist/starter_art.hak"
description = "Custom models, textures, 2DAs, placeables"

  [target.sources]
  include = "src/2da/*"
  include = "art/exports/*"

# Talk table target
[target]
name = "tlk"
file = "build/dist/starter_project.tlk"
description = "Custom talk table"

  [target.sources]
  include = "src/tlk/*.json"
